.buttonContainer {
  display: flex;
  align-items: center;
}

.deleteMutationError, .updateMutationError {
  color: tomato;
}

.deletingMutation .updatingMutation {
  color: purple;
}

.deleteMutationSuccess, .updateMutationSuccess {
  color: yellowgreen;
}