.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: block;
  padding: 0.25rem;
}